/* @font-face {
  font-family: "kumnhSans";
  src: url(./assets/fonts/KumbhSans-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "kumnhSans";
  src: url(./assets/fonts/KumbhSans-Medium.ttf);
  font-weight: normal;
}

@font-face {
  font-family: "kumnhSans";
  src: url(./assets/fonts/KumbhSans-Regular.ttf);
  font-weight: lighter;
} */

html {
  width: 100%;
  height: 100%;
  font-family: "kumnhSans";
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "kumnhSans";
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}